*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
  }
  
body {
    box-sizing: inherit;
    position: relative;
}


/*==========================================*/
/*================Resusable Items ====================*/
/*==========================================*/
.margint-10{
    margin-top: 0rem;
    text-align: center;
    @include atMedium{
        margin-top: 5rem;
    }
}

/*==========================================*/
/*================HomePage ====================*/
/*==========================================*/
.homepage{
    width: 100%;
    height: 100%;
    margin-top: -10rem;
    position: relative;
    &-holder{
        display: block;
        margin: 20rem auto;
        width: 80%;
    }
    &__header{
        font-size: 7rem;
        font-family: $source;
        font-weight: 800;
        text-shadow: $box-shadow-1;
        @include atMedium{
            font-size: 10rem;
        }
        &-sub{
            font-size: 5rem;
            @include atMedium{
                font-size: 8rem;
            }
        }
    }
}



.top{
    top: -4.5rem !important;
}


