// MODAL CONTENT
.close-btn{
    position: sticky;
    margin-right: 0.5rem;
    display: flex;
    justify-content: flex-end;
    font-size: 5rem;
    transition: all 0.3s ease;
    &:hover{
        color: darkgray;
    }
}
.md-header{
    padding: 1.5rem 4rem;
    &__title{
        font-size: 4rem;
        font-family: $source;
        display: inline-block;
        position: relative;
        &:before{
            content: "";
            position: absolute;
            bottom: 0;
            height: 0.1rem;
            width: 130%;
            background-color: black;
        }
        & i{
          font-size: 2.5rem; 
          color: rgb(51, 51, 51); 
          margin-right: 0.5rem;
        }
    }
    &__content{
        font-family: $lora;
        font-size: 2rem;
    }
}
.modal__menu{
    &-holder{
        position: fixed;
        top: 30%;
        right: 5%;
        z-index: 99999;
        @include atLarge{
            display: none;
        }
    }
    &-item{
        list-style-type: none;
        text-align: center;
        & a{
            font-size: 1.8rem;
            color: lightgray;

            transition: all 0.5s ease-in-out;
            &:hover{
                z-index: 9;
                color: black;
                animation: spinBig 0.5s ease-in;
            }
        }
    }
}
@keyframes spinBig{
    25%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: scale(1.5);
    }
}

//CUSTOM MODAL CONTENT 
.md__content{
    &__container{
        overflow-y: scroll;
    }
    &__sub{
        font-size: 1.5rem;
    }
    &__table{
        padding: 1rem 4rem;
        font-size: 2rem;
    }
    &__harmer{
        font-size: 8rem;
        transform-origin: 50% 50%;
        transition: transform 0.5s ease-in;
        animation: movingharmer 0.8s infinite ease;
        &-p{
            margin: -2rem auto 0 auto;
            height: 8rem;
            width: 8rem;
            font-size: 1.5rem;
            font-weight: bold;
            border: 0.2rem solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 0 0 rgba(204,169,44, 0.4);
            animation: pulse 0.8s infinite ease;
        }
    }
}
@keyframes movingharmer{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(55deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes pulse {
    20% {
      -moz-box-shadow: 0 0 0 0 black;
      box-shadow: 0 0 0 0 black;
    }
    50% {
        -moz-box-shadow: 0 0 0 0.2px black;
        box-shadow: 0 0 1.5rem 0.4rem black;
    }
    100% {
        -moz-box-shadow: 0 0 0 0 black;
        box-shadow: 0 0 0 0 black;
    }
  }
.skillset{
    &__title{

    }
    &__content{
        font-size: 2rem;
    }
}
