/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
.customeScrollbar ::-webkit-scrollbar {
  width: 1rem; }

.customeScrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem; }

.customeScrollbar ::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#fffbfb));
  background-image: linear-gradient(to bottom, #b9b9b9, #fffbfb);
  border-radius: 1rem; }

.lineartext-pink {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#c463f1), to(#f051a0));
  background-image: linear-gradient(to right, #c463f1, #f051a0);
  -webkit-background-clip: text;
          background-clip: text; }

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeAnimation {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.customeScrollbar ::-webkit-scrollbar {
  width: 1rem; }

.customeScrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem; }

.customeScrollbar ::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#fffbfb));
  background-image: linear-gradient(to bottom, #b9b9b9, #fffbfb);
  border-radius: 1rem; }

.lineartext-pink {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#c463f1), to(#f051a0));
  background-image: linear-gradient(to right, #c463f1, #f051a0);
  -webkit-background-clip: text;
          background-clip: text; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative; }

/*==========================================*/
/*================Resusable Items ====================*/
/*==========================================*/
.margint-10 {
  margin-top: 5rem;
  text-align: center; }

/*==========================================*/
/*================Basic Layout ====================*/
/*==========================================*/
.homepage {
  width: 100%;
  height: 100%;
  position: relative; }
  .homepage-holder {
    display: block;
    margin: 20rem auto;
    width: 80%; }
  .homepage__header {
    font-size: 10rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .homepage__header-sub {
      font-size: 8rem; }

.button {
  background-color: white;
  color: #56baf5;
  border: 0.2rem solid #56baf5;
  border-radius: 5%;
  display: inline-block;
  position: relative;
  text-align: center;
  height: 5rem;
  width: 15rem;
  font-size: 3rem;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  .button__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .button-1 {
    margin-right: 3rem; }
    .button-1:last-child {
      margin-right: 0; }
  .button:hover {
    text-decoration: none;
    background-color: #56baf5;
    color: white;
    border: 0.2rem solid white;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .button:active {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .button__item {
    position: relative;
    top: 0rem;
    -webkit-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in; }

.top {
  top: -4.5rem; }

.close-btn {
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  right: 50rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 3rem; }

.md-header {
  padding: 1.5rem 4rem; }
  .md-header__title {
    font-size: 4rem;
    font-family: "Source Sans Pro", sans-serif;
    display: inline-block;
    position: relative; }
    .md-header__title:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 0.1rem;
      width: 130%;
      background-color: black; }
    .md-header__title i {
      font-size: 2.5rem;
      color: #333333;
      margin-right: 0.5rem; }
  .md-header__content {
    font-family: "Lora", serif;
    font-size: 2rem; }

.modal__menu-holder {
  position: fixed;
  top: 30%;
  right: 5%;
  z-index: 99999; }
  @media (min-width: 1010px) {
    .modal__menu-holder {
      display: none; } }

.modal__menu-item {
  list-style-type: none;
  text-align: center; }
  .modal__menu-item a {
    font-size: 1.8rem;
    color: lightgray;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .modal__menu-item a:hover {
      z-index: 9;
      color: black;
      -webkit-animation: spinBig 0.5s ease-in;
              animation: spinBig 0.5s ease-in; }

@-webkit-keyframes spinBig {
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes spinBig {
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.md__content__container {
  overflow-y: scroll; }

.md__content__sub {
  font-size: 1.5rem; }

.md__content__table {
  padding: 1rem 4rem;
  font-size: 2rem; }

.md__content__harmer {
  font-size: 8rem;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-animation: movingharmer 0.8s infinite ease;
          animation: movingharmer 0.8s infinite ease; }
  .md__content__harmer-p {
    margin: -2rem auto 0 auto;
    height: 8rem;
    width: 8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 0.2rem solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    -webkit-animation: pulse 0.8s infinite ease;
            animation: pulse 0.8s infinite ease; }

@-webkit-keyframes movingharmer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes movingharmer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; }
  50% {
    -webkit-box-shadow: 0 0 1.5rem 0.4rem black;
            box-shadow: 0 0 1.5rem 0.4rem black; }
  100% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; } }

@keyframes pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; }
  50% {
    -webkit-box-shadow: 0 0 1.5rem 0.4rem black;
            box-shadow: 0 0 1.5rem 0.4rem black; }
  100% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; } }

.skillset__content {
  font-size: 2rem; }
