/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("https://fonts.googleapis.com/css?family=Lora:400,700");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
.customeScrollbar ::-webkit-scrollbar {
  width: 1rem; }

.customeScrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem; }

.customeScrollbar ::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#fffbfb));
  background-image: linear-gradient(to bottom, #b9b9b9, #fffbfb);
  border-radius: 1rem; }

.lineartext-pink {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#20a2df), to(#5189f0));
  background-image: linear-gradient(to right, #20a2df, #5189f0);
  -webkit-background-clip: text;
          background-clip: text; }

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeAnimation {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.customeScrollbar ::-webkit-scrollbar {
  width: 1rem; }

.customeScrollbar ::-webkit-scrollbar-track {
  -webkit-box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 5rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem; }

.customeScrollbar ::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#fffbfb));
  background-image: linear-gradient(to bottom, #b9b9b9, #fffbfb);
  border-radius: 1rem; }

.lineartext-pink {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#20a2df), to(#5189f0));
  background-image: linear-gradient(to right, #20a2df, #5189f0);
  -webkit-background-clip: text;
          background-clip: text; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 10px; }

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  position: relative; }

/*==========================================*/
/*================Resusable Items ====================*/
/*==========================================*/
.margint-10 {
  margin-top: 0rem;
  text-align: center; }
  @media (min-width: 860px) {
    .margint-10 {
      margin-top: 5rem; } }

/*==========================================*/
/*================HomePage ====================*/
/*==========================================*/
.homepage {
  width: 100%;
  height: 100%;
  margin-top: -10rem;
  position: relative; }
  .homepage-holder {
    display: block;
    margin: 20rem auto;
    width: 80%; }
  .homepage__header {
    font-size: 7rem;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 800;
    text-shadow: 0 10px 28px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24); }
    @media (min-width: 860px) {
      .homepage__header {
        font-size: 10rem; } }
    .homepage__header-sub {
      font-size: 5rem; }
      @media (min-width: 860px) {
        .homepage__header-sub {
          font-size: 8rem; } }

.top {
  top: -4.5rem !important; }

.close-btn {
  z-index: 99999 !important; }

.button {
  background-color: white;
  color: #56baf5;
  border: 0.2rem solid #56baf5;
  border-radius: 5%;
  display: inline-block;
  position: relative;
  text-align: center;
  height: 5rem;
  width: 15rem;
  font-size: 3rem;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in; }
  @media (min-width: 660px) {
    .button {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 20%;
              flex: 0 0 20%; } }
  .button__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .button-1 {
    margin: 0.5rem; }
    @media (min-width: 660px) {
      .button-1 {
        margin-right: 3rem; } }
    .button-1:last-child {
      margin-right: 0.5rem; }
      @media (min-width: 660px) {
        .button-1:last-child {
          margin-right: 0rem; } }
  .button:hover {
    text-decoration: none;
    background-color: #56baf5;
    color: white;
    border: 0.2rem solid white;
    -webkit-transform: translateY(-1rem);
            transform: translateY(-1rem);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .button:active {
    -webkit-box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 10px 28px rgba(0, 0, 0, 0.12), 0 5px 2px rgba(0, 0, 0, 0.24); }
  .button__item {
    position: relative;
    top: 0rem;
    -webkit-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in; }

.close-btn {
  position: fixed;
  margin-right: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 5rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .close-btn:hover {
    color: darkgray; }

.md-header {
  padding: 1.5rem 4rem; }
  .md-header__title {
    font-size: 2.5rem;
    font-family: "Source Sans Pro", sans-serif;
    display: inline-block;
    position: relative; }
    @media (min-width: 660px) {
      .md-header__title {
        font-size: 3rem; } }
    @media (min-width: 1010px) {
      .md-header__title {
        font-size: 4rem; } }
    .md-header__title:before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 0.1rem;
      width: 130%;
      background-color: black; }
    .md-header__title i {
      font-size: 2.5rem;
      color: #333333;
      margin-right: 0.5rem; }
  .md-header__content {
    font-family: "Lora", serif;
    font-size: 1.5rem; }
    @media (min-width: 860px) {
      .md-header__content {
        font-size: 2rem; } }

.modal__menu-holder {
  position: fixed;
  top: 30%;
  right: 5%;
  z-index: 99999; }
  @media (min-width: 1010px) {
    .modal__menu-holder {
      display: none; } }

.modal__menu-item {
  list-style-type: none;
  text-align: center; }
  .modal__menu-item a {
    font-size: 1.8rem;
    color: lightgray;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .modal__menu-item a:hover {
      z-index: 9;
      color: black;
      -webkit-animation: spinBig 0.5s ease-in;
              animation: spinBig 0.5s ease-in; }

@-webkit-keyframes spinBig {
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

@keyframes spinBig {
  25% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5); } }

.md__content__container {
  overflow-y: scroll; }

.md__content__title {
  font-size: 1.5rem; }
  @media (min-width: 1010px) {
    .md__content__title {
      font-size: 2.5rem; } }

.md__content__sub {
  font-size: 1.5rem; }
  @media (min-width: 1010px) {
    .md__content__sub {
      font-size: 1.5rem; } }

.md__content__table {
  padding: 1rem 4rem;
  font-size: 1.3rem; }
  @media (min-width: 1010px) {
    .md__content__table {
      font-size: 2rem; } }

.md__content__harmer {
  font-size: 8rem;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  -webkit-animation: movingharmer 0.8s infinite ease;
          animation: movingharmer 0.8s infinite ease; }
  .md__content__harmer-p {
    margin: -2rem auto 0 auto;
    height: 8rem;
    width: 8rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 0.2rem solid black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
            box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    -webkit-animation: pulse 0.8s infinite ease;
            animation: pulse 0.8s infinite ease; }

@-webkit-keyframes movingharmer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@keyframes movingharmer {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  50% {
    -webkit-transform: rotate(55deg);
            transform: rotate(55deg); }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); } }

@-webkit-keyframes pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; }
  50% {
    -webkit-box-shadow: 0 0 1.5rem 0.4rem black;
            box-shadow: 0 0 1.5rem 0.4rem black; }
  100% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; } }

@keyframes pulse {
  20% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; }
  50% {
    -webkit-box-shadow: 0 0 1.5rem 0.4rem black;
            box-shadow: 0 0 1.5rem 0.4rem black; }
  100% {
    -webkit-box-shadow: 0 0 0 0 black;
            box-shadow: 0 0 0 0 black; } }

.skillset__content {
  font-size: 2rem; }

.image-hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-filter: blur(2px) grayscale(50%);
          filter: blur(2px) grayscale(50%); }

.image-overlap-hover {
  -webkit-animation: spinin .8s ease;
          animation: spinin .8s ease;
  top: 0;
  left: 0; }

.image-media-hover {
  opacity: 1; }

.project {
  padding: 0.5rem 2rem; }
  @media (min-width: 1010px) {
    .project {
      padding: 2rem 6rem; } }
  .project__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0.2rem 0.5rem;
    border-radius: 0%;
    border: 0.1rem solid antiquewhite; }
    @media (min-width: 860px) {
      .project__holder {
        padding: 0.5rem 1rem;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (min-width: 1010px) {
      .project__holder {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (min-width: 1200px) {
      .project__holder {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
  .project__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3%; }
    .project__image img {
      width: 100%;
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transition: all 0.8s ease-in-out 0.5s;
      transition: all 0.8s ease-in-out 0.5s; }
    .project__image:hover .project__image-item {
      -webkit-transform: scale(1.05);
              transform: scale(1.05);
      -webkit-filter: blur(2px) grayscale(50%);
              filter: blur(2px) grayscale(50%); }
    .project__image__overlay {
      position: absolute;
      top: -100%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: rgba(207, 205, 205, 0.747);
      padding: 1rem;
      border-radius: 3%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out; }
  .project__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    -webkit-transition-delay: 0.7s;
            transition-delay: 0.7s; }
    .project__media__item {
      display: inline-block;
      list-style-type: none;
      padding: 0.5rem;
      font-size: 5rem; }
      .project__media__item a {
        color: black;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        .project__media__item a:hover {
          color: #555555; }
  .project__image:hover .project__image__overlay {
    -webkit-animation: spinin .8s ease;
            animation: spinin .8s ease;
    top: 0;
    left: 0; }
  .project__image:hover .project__media {
    opacity: 1; }
  .project__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%; }
    .project__content__holder {
      padding: 1rem;
      cursor: default; }
      @media (min-width: 1010px) {
        .project__content__holder {
          padding: 3rem; } }
      .project__content__holder-1 {
        display: inline-block !important; }
    .project__content__item {
      display: inline-block;
      list-style-type: none; }
      .project__content__item-link {
        font-size: 2rem;
        color: black;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease; }
        @media (min-width: 1010px) {
          .project__content__item-link {
            display: none; } }
        .project__content__item-link:hover {
          -webkit-transform: translateY(-10%);
                  transform: translateY(-10%);
          color: darkgray; }
    .project__content__title {
      font-family: "Lora", serif;
      font-size: 2rem;
      font-weight: 400; }
      @media (min-width: 860px) {
        .project__content__title {
          font-size: 2rem; } }
      @media (min-width: 1010px) {
        .project__content__title {
          font-size: 3.5rem; } }
    .project__content__desc {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 1.3rem; }
      @media (min-width: 860px) {
        .project__content__desc {
          font-size: 1.5rem; } }
      @media (min-width: 1010px) {
        .project__content__desc {
          font-size: 2rem; } }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .pagination-item {
    font-size: 1.5rem;
    font-family: "Lora", serif;
    color: black !important;
    padding: 1.5rem;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (min-width: 860px) {
      .pagination-item {
        padding: 1rem; } }
    .pagination-item:hover {
      -webkit-transform: translateY(-10%);
              transform: translateY(-10%);
      color: darkgray; }

@-webkit-keyframes spinin {
  0% {
    top: -100%;
    left: 0%; }
  25% {
    top: -50%;
    left: 50%;
    opacity: 0.5; }
  50% {
    top: -30%;
    left: -50%;
    opacity: 1; }
  85% {
    top: -10%;
    left: 50%;
    opacity: 0.5; }
  100% {
    top: 0;
    left: 0;
    opacity: 1; } }

@keyframes spinin {
  0% {
    top: -100%;
    left: 0%; }
  25% {
    top: -50%;
    left: 50%;
    opacity: 0.5; }
  50% {
    top: -30%;
    left: -50%;
    opacity: 1; }
  85% {
    top: -10%;
    left: 50%;
    opacity: 0.5; }
  100% {
    top: 0;
    left: 0;
    opacity: 1; } }

.card-header-1 {
  margin: 0 !important;
  padding: 0 !important; }

.container-1 {
  width: 100%; }
  @media (min-width: 1200px) {
    .container-1 {
      width: 80%; } }

.blog {
  margin-top: 0.5rem; }
  .blog__holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    @media (min-width: 992px) {
      .blog__holder {
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap; } }
    .blog__holder-1 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      height: 10rem;
      overflow: hidden;
      position: relative;
      cursor: pointer; }
      @media (min-width: 992px) {
        .blog__holder-1 {
          height: auto;
          -webkit-box-flex: 0;
              -ms-flex: 0 0 40%;
                  flex: 0 0 40%; } }
    .blog__holder-2 {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      background-image: url("../../../images/transparent-1655599_1280.png");
      background-position: top left;
      background-size: cover;
      -webkit-backdrop-filter: grayscale(100%);
              backdrop-filter: grayscale(100%);
      border: 1px white solid;
      padding: 0.5rem; }
      @media (min-width: 992px) {
        .blog__holder-2 {
          -webkit-box-flex: 0;
              -ms-flex: 0 0 60%;
                  flex: 0 0 60%; } }
      .blog__holder-2-pd {
        padding: 6rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative; }
        @media (min-width: 660px) {
          .blog__holder-2-pd {
            padding: 8.25rem; } }
  .blog__image {
    width: 100%;
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
  .blog__overlap {
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background: linear-gradient(253deg, #0cc89981, #1797d273, #874fe17e);
    -webkit-transition: left 0.5s ease-out;
    transition: left 0.5s ease-out; }
    .blog__overlap__item {
      position: absolute;
      top: 40%;
      color: white;
      font-size: 3rem;
      font-family: "Source Sans Pro", sans-serif;
      -webkit-transform: scale(1.2) rotate(-90deg);
              transform: scale(1.2) rotate(-90deg);
      -webkit-transform-origin: bottom left;
              transform-origin: bottom left;
      opacity: 0.3;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  .blog__holder-1:hover .blog__image {
    -webkit-transform: scale(1.6);
            transform: scale(1.6);
    -webkit-filter: blur(0.5rem) grayscale(0.7);
            filter: blur(0.5rem) grayscale(0.7); }
  .blog__holder-1:hover .blog__overlap {
    left: 0; }
  .blog__holder-1:hover .blog__overlap__item {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg); }
  .blog-button {
    cursor: pointer;
    padding: 0.5rem;
    color: black !important;
    font-size: 2.5rem;
    font-family: "Lora", serif;
    border: 1px solid transparent;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in; }
    .blog-button::before {
      content: "";
      position: absolute;
      color: black;
      top: 100%;
      left: 0;
      width: 0%;
      height: 0.2rem;
      background-color: black;
      -webkit-transition: width 0.5s ease 0.3s;
      transition: width 0.5s ease 0.3s; }
    .blog-button:hover {
      letter-spacing: 0.3rem;
      color: #504f4f !important; }
    .blog-button:hover::before {
      width: 100%; }
  .blog__des__holder {
    position: relative; }
    .blog__des__holder::before {
      content: "";
      position: absolute;
      color: black;
      top: -100%;
      bottom: 0;
      width: 0.5rem;
      height: 0.5rem; }
  .blog__title {
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    margin-left: 3rem; }
  .blog__content {
    padding: 0 3rem; }
    .blog__content__title {
      font-size: 3rem;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 500; }
    .blog__content__paragraph {
      font-size: 1.5rem;
      font-family: "Lora", serif;
      padding: 0 1rem; }

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
  padding-bottom: 20rem; }
  .contact-holder {
    width: 100%; }
    @media (min-width: 860px) {
      .contact-holder {
        width: 60%; } }
    .contact-holder-form {
      position: relative;
      text-align: center; }
  .contact__input {
    font-size: 1.7rem; }
    @media (min-width: 860px) {
      .contact__input {
        font-size: 2.5rem; } }
  .contact__input:focus {
    outline: none;
    border-bottom: 1px solid black; }
  .contact__input[type=text], .contact__input[type=email] {
    width: 30%;
    border: 0;
    border-bottom: 1px solid darkgray;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .contact__input[type=text]:focus, .contact__input[type=email]:focus {
      width: 50%;
      border-color: black; }
  .contact__label {
    color: gray;
    font-family: "Lora", serif;
    font-size: 2.2rem;
    position: absolute;
    top: -20%;
    left: 25%;
    pointer-events: none;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (min-width: 860px) {
      .contact__label {
        font-size: 3rem; } }
  .contact__input:focus ~ .contact__label {
    top: -80%;
    left: 20%;
    font-size: 2rem;
    opacity: 0.87;
    color: black; }
  .contact__textarea {
    width: 50%;
    margin-top: 3rem;
    max-height: 10rem;
    font-size: 1.5rem;
    border: 0;
    border-bottom: 1px solid gray; }
    @media (min-width: 860px) {
      .contact__textarea {
        font-size: 2rem; } }
    .contact__textarea-holder {
      overflow: visible !important; }
    .contact__textarea:focus {
      outline: none;
      width: 50%;
      border-bottom: 1.5px solid black; }
  .contact__textareaLB {
    position: absolute;
    color: gray;
    font-family: "Lora", serif;
    font-size: 2.2rem;
    top: -12%;
    left: 25%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    @media (min-width: 860px) {
      .contact__textareaLB {
        font-size: 3rem; } }
  .contact__textarea:focus ~ .contact__textareaLB {
    margin-top: 1rem;
    font-size: 2rem;
    opacity: 0.87;
    top: -30%;
    left: 20%;
    color: black; }
  .contact__submit {
    padding: 0.5rem 1rem;
    font-size: 3rem;
    position: relative;
    color: gray;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .contact__submit__icon {
      position: absolute;
      top: 70%;
      margin: 0 auto;
      z-index: 99 !important;
      -webkit-transition: top 0.5s ease-in;
      transition: top 0.5s ease-in; }
    .contact__submit:hover {
      color: black; }
    .contact__submit:hover .contact__submit__icon {
      top: 40%; }
